{{ define "title"}}Apps{{ end }}

{{ define "content" }}
<div id="app" class="flex flex-column">
  {{ if .flash }}
  <div>
    <p{{ if eq .flash.Type "Error" }} class="red"{{ end }}>{{ .flash.Message }}</p>
  </div>
  {{ end }}
  <main class="flex flex-auto">
    <div class="flex flex-auto flex-column w-100 pb6">
      <article class="mh2 mt3 cf">
        {{ range .clients }}
        <div class="fl w-100 w-50-ns w-33-l pa2">
          <a href="{{.ConnectUrl}}" class="link db aspect-ratio aspect-ratio--1x1 dim ba bw b--near-black">
            <dl class="flex flex-column justify-center aspect-ratio--object pa3 pa4-l">
              <dt class="f3 lh-title">{{.Name}}</dt>
              <dd class="ma0 f4 f5-ns f4-l lh-copy">{{.Description}}</dd>
            </dl>
          </a>
        </div>
        {{end}}
        <!--
        <div class="fl w-50 pa2 mw4-ns mw5-l">
          <a href="/apps/create" class="link db aspect-ratio aspect-ratio--1x1 dim bg-gray black">
            <div class="flex flex-column justify-center aspect-ratio--object pa2 pa3-ns pa4-l">
              <span class="f4 f5-ns f4-l lh-copy">Register a new app</span>
            </div>
          </a>
        </div>
        !-->
      </article>
      <p class="ml3 lh-copy measure f4 f5-ns f4-l">Not a member yet? <a class="link b" href="/join">Join now!</a></p>
    </div>
  </main>
</div>
{{ end }}
