{{ define "title"}}Update your password{{ end }}

{{ if .flash }}
<div class="sticky z-1 mb3 flex {{ if eq .flash.Type "Error" }}bg-red white{{ else }}bb b--light-gray black{{ end }}" style="top:3rem">
  <p class="ma0 pa3 w-100">{{ .flash.Message }}</p>
</div>
{{ end }}

{{ define "content" }}
<div id="app">
  <main class="flex flex-column flex-auto items-center justify-center min-vh-100 mh3 pt6 pb6">
    <div class="flex flex-column w-100 w-auto-l ph4 pt4 pb3">
      <h2 class="f3 fw1 mt3 near-black near-black--light light-gray--dark lh-title">Reset your password</h2>
      <div class="flex flex-column flex-auto">
        <div class="flex flex-column flex-auto">
          <form action="" method="POST" class="flex flex-column flex-auto">
            {{ .csrfField }}
            <input type="hidden" name="_method" value="PUT" />
            <input type="hidden" name="token" value="{{ .token }}">
            <div>
              <div class="flex flex-column mb3">
                <div class="flex flex-column flex-column-reverse">
                  <input
                    value=""
                    autocomplete="false"
                    id="password_new"
                    type="password"
                    name="password_new"
                    placeholder="New password"
                    required="required"
                    class="bg-black white bg-white--dark black--dark bg-black--light white--light placeholder--dark-gray input-reset w-100 bn pa3 valid"
                    />
                </div>
              </div>
              <div class="flex flex-column mb3">
                <div class="flex flex-column flex-column-reverse">
                  <input
                    value=""
                    autocomplete="false"
                    id="password_confirm"
                    type="password"
                    name="password_confirm"
                    placeholder="Password confirmation"
                    required="required"
                    class="bg-black white bg-white--dark black--dark bg-black--light white--light placeholder--dark-gray input-reset w-100 bn pa3 valid"
                    />
                </div>
              </div>
            </div>
            <div class="flex mt3">
              <div class="flex mr3"></div>
              <div class="flex flex-auto justify-end pr1">
                <button type="submit" class="bg-white dib grow ba bw b--near-black b pv2 ph4 flex-shrink-0 f5">
                  Update password
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>
{{ end }}
