{{ define "title"}}Password reset{{ end }}

{{ define "content" }}
<div id="app">
  <main class="flex flex-auto relative">
    <main class="flex flex-column flex-auto items-center justify-center min-vh-100 mh3 pt6 pb6">
      <div class="flex flex-column w-100 w-auto-l ph4 pt4 pb3">
        <h2 class="f3 fw1 mt3 near-black near-black--light light-gray--dark lh-title">Reset your password</h2>
        {{ if .flash }}
        <div>
          <p{{ if eq .flash.Type "Error" }} class="red"{{ end }}>{{ .flash.Message }}</p>
        </div>
        {{ end }}
        <div class="flex flex-column flex-auto">
          <div class="flex flex-column flex-auto">
            <form id="password" action="" method="POST" class="flex flex-column flex-auto ma0 pa0">
              {{ .csrfField }}
              <div>
                <div class="flex flex-column mb3">
                  <label for="email" class="f5 db mb1">To reset your password, please enter your email address below</label>
                  <div class="relative">
                    <input
                      value=""
                      autocomplete="false"
                      id="email"
                      type="email"
                      name="email"
                      placeholder="Enter your email address"
                      required="required"
                      class="bg-black white bg-white--dark black--dark bg-black--light white--light placeholder--dark-gray input-reset w-100 bn pa3 valid"
                    />
                  </div>
                </div>
              </div>
              <div class="flex mt3">
                <div class="flex mr3"></div>
                <div class="flex flex-auto justify-end pr1">
                  <button type="submit" class="bg-white dib grow ba bw b--near-black b pv2 ph4 flex-shrink-0 f5">
                    Reset my password
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{{ end }}
