@import '@resonate/tachyons';
@import './src/components/progress-bar/index.css';
@import './src/components/image-upload/index.css';
@import './src/components/autocomplete-typeahead/index.css';
@import './src/components/notifications/index.css';
@import './src/components/header/index.css';
@import '@resonate/search-component/index.css';
@import './src/components/footer/index.css';

/**
 * <input> styling for radio + checkbox
 */

input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
}

input[type="radio"]:active ~ label {
  opacity: 1;
}

input[type="radio"]:checked ~ label {
  opacity: 1;
}

input[type="radio"]:checked ~ label .icon {
  fill: var(--black);
}

input[type="checkbox"] ~ label .icon {
  fill: transparent;
}

input[type="checkbox"]:checked ~ label .icon {
  fill: var(--black);
}

/**
 * Offset margin
 */

.ml-3 {
  margin-left: -1rem;
}

.mr-3 {
  margin-right: -1rem;
}

/**
 * Custom html <select> styling
 */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' width='18' height='18' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
}
