.typeahead-component .search-label {
  top: 50%;
  transform: translateY(-50%);
}

.typeahead-component input[type="search"] {
  appearance: none;
  text-indent: 1.5rem;
  font-family: inherit;
}

.typeahead-component input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
}

.typeahead {
  visibility: hidden;
  opacity: 0;
  display: none;
}

form:focus-within .typeahead-component .typeahead {
  visibility: visible;
  z-index: 1;
  opacity: 1;
  display: block;
}
